.home-carousel {
  width: auto;
  height: auto;
  display: block;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.home-carousel-img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 300%;
  color: White;
  text-align: center;
  width: 100%;
  height: 100%;
}

.caption {
  color: white;
  font-size: 400%;
  margin-bottom: 5%;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
