.table-div {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
}

.title {
  color: White;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

.center-img {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.load-spinner {
  margin-top: 15%;
  margin-left: 45%;
  margin-right: 45%;
}

.animal-filter-dropdowns {
  height: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  padding: 5px;
  margin-right: 5%;
  border-radius: 25px;
  background-color: #00bc8c;
}

.animal-filter-header {
  padding-left: 20px;
  display: inline-block;
  color: white;
}

.animal-header {
  float: left;
  padding: 20px;
}

.animal-card {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}
