.title {
  color: White;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

.center-text {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dev-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.bio {
  width: 33%;
}

.dev-table {
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* 
 .LineChart text {
   x:"220";
   y:"40";
   color: "white";
   fontSize:"36";
   fontWeight:"bold";
 } */
